body {
    background: rgba(245, 245, 245, 1);
    margin: 0;
}

.dashboard-header {
    padding: 8px 24px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    display: flex;
}

.profile {
    height: 32px;
    border-radius: 32px;
    cursor: pointer;
    margin-left: auto;
}

.operations-list {
    display: flex;
    padding: 24px;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.logo {
    cursor: pointer;
}

.error-container {
    text-align: center;
    margin-top: 100px;
    font-family: Roboto;
    font-size: 42px;
}


.error-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    color: #1976d2;
    font-family: Roboto;
}